body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  background: url("background-image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 500px;
  height: 250px;
  text-align: center;
}

.quote {
  font-size: 24px;
  font-style: italic;
  font-weight: semi bold;
}

.author {
  font-size: 16px;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #008000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #00cc00;
}
